<!DOCTYPE html>
<html>
  <head>
    <title>Project02</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- for controller comms socket -->
    <!-- <script src="http://localhost:3001/socket.io/socket.io.js"></script> -->
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= yield %>


  </body>
</html>
